RewriteEngine on

RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} !^www\.sam2i\.fr$ [NC]
RewriteRule ^(.*)$ https://www.sam2i.fr/$1 [L,R=301]
RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]
RewriteCond %{THE_REQUEST} /([^.]+)\.xml [NC]
RewriteRule ^ /%1 [NC,L,R]
RewriteCond %{REQUEST_FILENAME}.xml -f
RewriteRule ^ %{REQUEST_URI}.xml [NC,L]

ErrorDocument 400 https://www.sam2i.fr/erreur
ErrorDocument 401 https://www.sam2i.fr/erreur
ErrorDocument 402 https://www.sam2i.fr/erreur
ErrorDocument 403 https://www.sam2i.fr/erreur
ErrorDocument 404 https://www.sam2i.fr/erreur
ErrorDocument 500 https://www.sam2i.fr/erreur
ErrorDocument 501 https://www.sam2i.fr/erreur
ErrorDocument 502 https://www.sam2i.fr/erreur
ErrorDocument 503 https://www.sam2i.fr/erreur
ErrorDocument 504 https://www.sam2i.fr/erreur
